#pyns{
height: calc(100vh - 64px);
  margin-bottom: 0;
}

#pyns #searchFilters, #pyns #searchResults, #pyns #map, #pyns #resultsSection{
  /*border: 1px solid;*/
}

#pyns #map, #pyns #resultsSection{

  height: 100%;
}

@media(min-width: 992px){
  #pyns #resultsSection{
    /*max-width: 750px;*/
  }
}

@media(max-width: 992px){
  #pyns #searchFilters{
    height: auto !important;
  }
}

#pyns #resultsSection{
  width: 48%;
  /*width: 750px;*/
  margin-right: 0;
  padding: 0px;
}
#pyns #map{
  width: 52%;
  padding: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.075);
}

#pyns #searchResults{
  padding: 20px 30px 0px 0px;
  height: calc(100% - 100px);
  overflow:scroll;
  background: #f8f8f8;
}

#pyns #searchFilters{
  height: 100px;
  background-color: #fff;
  padding: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
