.actionWrapper{
  margin-top: 45px;
  background-color: #484848;
  border: 1px solid rgba(0, 0, 0, 0.075);
  height: 90px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.actionWrapper:hover{
  background-color: #FF4D55;
}

.actionWrapper a{
  margin: 0 auto;
  font-size: 30px;
  color: white;
}
