#categoryTiles{
  background: #f9f9f9;
  padding-top: 20px;
}

.categoryTileWrapper{
  height: 300px;
  padding: 25px;
}

.categoryTile{
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

.categoryTile h1{
  margin: 0 auto;
}
