.divider{
  border: 1px solid rgba(0, 0, 0, 0.075);
}

#textSearch{
  font-size: 16px !important;
}

form{
  margin-top: 20px;
}

.max-width{
  width: 100%;
}

.borderTop{
  border-top: 1px solid rgba(0,0,0,0.075);
}

.collapsible-header{
  padding: 0;
}

.marginTop10{
  margin-top: 10px;
}

.marginTop20{
  margin-top: 20px;
}

.marginTop40{
  margin-top: 40px;
}

.marginBottom20{
  margin-bottom: 20px;
}

.marginBottomZero{
  margin-bottom: 0px !important;
}

.paddingZero{
  padding: 0px !important;
}

.marginZero{
  margin: 0 !important;
}
/*select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"],
 input[type="search"], input[type="tel"], input[type="color"], .form-control, .select2-container .select2-choice{
   border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    display: block;
    outline: 0;
    padding: 0.8125rem 0.9375rem;
    vertical-align: middle;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }

input, select, textarea{
  background: white;
border-radius: 3px;
box-shadow: none;
font-size: 14.95px;
}*/

.select-wrapper span.caret{
  margin-right: 15px;
}

.field-header{
  margin-bottom: 0px;
  text-align: center;

}

form button[type=submit]{
  /*color: #FF4D55;*/
  color: #fff;
  background-color: #484848;
  width: 100%;
}

form button[type=submit]:hover{
  background-color: #FF4D55;
}


/*normalising input*/
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea,
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid
, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid,
input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid{
  border-bottom: 1px solid #484848;
  box-shadow: 0 1px 0 0 #484848;
  /*color: #FF4d55;*/
  font-size: 2.5rem;
  text-align: center;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label
{
  color: #484848;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #484848;
  box-shadow: 0 1px 0 0 #484848;
}

[type="checkbox"].filled-in:checked + label:after{
  border: 2px solid #484848;
  background-color: #484848;
}

.italics{
  font-style: italic;
}

.tagline{
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.075);
  background: #f8f8f8;
}

.tagline h5{

}

.blue-text{
  color: #4099FF !important;
}

.red-text{
  color: #ff4d55 !important;
}

*{
  font-family: 'Hanken', sans-serif;
}

body{
  background-color: #f9f9f9;
  color: #484848;
}

label{
  font-size: 14.95px;
}

.content{
  width: 700px;
  margin: 0 auto;
}

.wider-content{
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.centerByMargin{
  margin: 0 auto;
}

.bordered{
  border: 1px solid;
}

.wrapper{
  width: 100%;
}

.striped{
  background-color: #f9f9f9;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.075);*/
  /*border-top: 1px solid rgba(0, 0, 0, 0.075);*/
}

.clickable{
  cursor: pointer;
}

.bold-text{
  font-weight: 600;
}

.header-image{
  background-size: cover;
  /*height: 50%;*/
  width: 100%;
  /*position: absolute;*/
  z-index: 2;
}

.header-image-text {
  position: relative;
  z-index: 3;
  color: white;
  font-size: 8.2rem;
}

.navDropdowns li a{
  color: #ff4d55 !important;
}

.navDropdowns li:hover > a{
  color: #484848 !important;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected{
  background: transparent !important;
}
