nav ul a{
  color: #919191;
}

nav{
  background-color: #fff;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

nav ul li.active{
  background: transparent !important;
}

nav ul li a:hover, #accountDropdown li.active{
  background: transparent;
}
nav ul li:hover > a{
  color: #ff4d55;
}

nav .brand-logo{
  color: #484848;
}
