.business_action-wrapper{
    height: 100px;
}

.business_action{
  font-size: 30px;
  text-align: center;
  width: 100%;
  line-height: 100px;
  display: block;
  background: #484848;
  color: white;
  transition: background 0.1s ease;
  border-radius: 4px;
  margin-top: 24px;
}


.business_action:hover{
  background: #FF4D55;
}
