@media(min-width: 992px){
  div#searchBar{
    /*width: 750px;*/
  }
}

.select-wrapper input.select-dropdown{
  border: 0px;
  background: #fff;
  color: #333;
}

#searchBar, #searchBar .col{
  padding: 0;
  /*margin-top: 5px;*/
}

#textSearch{
  background: white;
  border-radius: 0px;
  color: #333;
  padding: 0px 5px;
  border-bottom: 0px;
}

#textSearch:focus{
  box-shadow: none;
}

#textSearch::-webkit-input-placeholder {
    color: #333;
}
#textSearch:-moz-placeholder {
    /* FF 4-18 */
    color: #333;
}
#textSearch::-moz-placeholder {
    /* FF 19+ */
    color: #333;
}
#textSearch:-ms-input-placeholder {
    /* IE 10+ */
    color: #333;
}
.searchBar_action-wrapper{
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  text-align: center;
  height: 45px;
  background: #e1e1e1;
}

.searchBar_action:hover{
  background: #484848;
}

.searchBar_action{
  cursor: pointer;
  background: #FF4D55;
  transition: background 0.3s ease;
  font-size: 21px;
  color: white;
  line-height: 45px;
  display: block;
}

@media(min-width: 992px){
  .searchBar_fields-wrapper{
    height: 50px;
  }
}

.searchBar_fields-wrapper{
  background: transparent;
  padding: 0;
}

.searchBar_fields-wrapper input, .searchBar_fields-wrapper .select-wrapper span.caret{
  color: white;
  font-size: 16px !important;
}
